.rightbar {
  flex: 3.5;
}

.rightbar-wrapper {
  padding: 20px 0;
}

.rightbar-birthday {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.birthday-img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.birthday-text {
  font-weight: 300;
  font-size: 15px;
}

.rightbar-ad {
  width: 100%;
  margin: 30px 0;
  border-radius: 10px;
}

.rightbar-friend-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.rightbar-title {
  margin-bottom: 15px;
}

.rightbar-info {
  margin-bottom: 15px;
}

.rightbar-info-key {
  font-weight: bold;
  margin-right: 5px;
}

.rightbar-hr {
  width: 95%;
  margin-bottom: 15px;
}

.rightbar-followings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rightbar-following {
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.rightbar-following-img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  object-fit: cover;
  margin: 10px;
}

.rightbar-following-img:hover {
  width: 120px;
  height: 120px;
}
