.leftbar {
  flex: 2.5;
  height: calc(100vh - 50px);
  overflow-y: scroll;
  position: sticky;
  top: 50px;

  .leftbar-wrapper {
    padding: 15px;
  }

  .leftbar-list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .leftbar-item {
    width: 100%;
    padding: 3px 3px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
  }

  .leftbar-item:hover {
    background-color: #f0f0f0;
  }

  .leftbar-icon {
    margin-right: 20px;
  }

  .leftbar-button {
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
  }

  .leftbar-hr {
    margin: 20px 0;
  }

  .leftbar-friend-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background-color: #b3b0b0;
  border-radius: 10px;
}
